.App {
  text-align: center;
  background-color: #096dd9;
  height: 100vh;
  opacity: 0.7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-render-prop {
    width : 200px;
    height : 100px;
    background-color: white;
    border : 2px solid gray;
    border-radius: 5px;
}

.button-render-prop {
    width: 200px;
    height: 100px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;

}